
body{
     background-color:#74b3fb;
     font-size: 20px;
     font-family: Arial, Helvetica, sans-serif;
}
h1{
    background-color: darkgreen;
    font-family:;
    color: white;
    text-align: center;
}
h2{
    color: brown;
            
}
p{
    text-align: justify;
}

