@charset "UTF-8";

/* Conguracoes gerais */

html, body {
    height: 100vh;
    width: 100vw;
    background-color: #233eff;
    font-family: 'Courier New', Courier, monospace;
    background-size: contain;
    background-repeat: no-repeat;
}
h1 {
    color: white;
    text-shadow: 2px 2px 0px black;
    
}